name: CI/CD - ASP.NET + Railway

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore barber-flow-api/Barber.Flow.Api/Barber.Flow.Api/Barber.Flow.Api.csproj

      - name: Build project
        run: dotnet build barber-flow-api/Barber.Flow.Api/Barber.Flow.Api/Barber.Flow.Api.csproj --configuration Release --no-restore

  deploy:
    name: Deploy to Railway
    needs: build
    runs-on: ubuntu-latest

    # ⚠️ Solo desplegar en push (NO en PR)
    if: github.event_name == 'push'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Railway CLI
        run: npm install -g @railway/cli

      - name: Deploy to Railway
        run: railway up --service barber.flow.api --environment develop --detach
        env:
         RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
